.my-profile {
    height: 100%;
    background-color: lightgrey;
    
}
img {
    margin-top:30px;
    width: 190px;
     height:200px;
  }
  .set-name{
      text-align: center;
    /* font-weight: bold; */

  }

  /.box {
    /* margin: 50px auto; */
    /* background: #5FCF80; */
    /* width: 150px; */
    /* height: 150px; */
  }
  .box:hover {
    transform: rotate(360deg);
    /* background: #9351A6; */
    /* border-radius: 50%; */
  }
  .rotate {
    transition: all 0.5s ease-in-out;
  }
  .rotate:hover {
    transition: all 1s ease-in-out;
  }