.my-profile {
    height: 100%;
    background-color: lightgrey;
}
img {
    margin-top:30px;
    width: 250px;
     height:200px;
  }
  .set-name{
      text-align: center;
    /* font-weight: bold; */

  }